* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.widget {
  text-align: center;
}

.change-color {
  background-color: #4e75ff;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
  padding: 8px 16px;
  border: none;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

#boxes {
  background-color: #f6f6fe;
  border-radius: 8px;
  margin-top: 16px;
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 44px;
}

#controls {
  display: flex;
  gap: 16px;
  padding: 32px;
  background-color: #f6f6fe;
  border-radius: 8px;
}

input[type="number"] {
  padding: 8px 72px;
  border-radius: 8px;
  border: 1px solid #808080;
}

button[data-create] {
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;
  padding: 8px 16px;
  width: 120px;
}

button[data-destroy] {
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 8px;
  background-color: #ff4e4e;
  padding: 8px 16px;
  width: 120px;
}
